@import 'libs/_normalize.scss';

body {
	background-color: #fff;
	letter-spacing: 0.5px;
	cursor: default;
	height: 100%;
}

.wrapper {
	height: 100%;

	.headers_container {
		position: sticky;
		top: 0;
		background-color: #fff;
	}
}

.main {
	background-color: #fff;
	min-height: 480px;
}

.footer {
	background-color: lightgrey;
}
